
* {
	margin:0;
	padding: 0;

}

#wrapper{
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

.animation-wrapper{
	position: relative;
    width: 50%;
}


#one {
	left: 20px;
    top: 155px;	
}